*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */
header{
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 7px #00000057;
}

.navbar-wrapper{
    width: 100%;
    height: 55px;
    background: rgb(0, 89, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo > a{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__li{
    margin: 0 10px;
    position: relative;
}

.nav__li::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background: #fff;
    border-radius: 50px;
    transition: all .2s;
    pointer-events: none;
}

.nav__li:hover:after{
    width: 100%;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* button responsive */
.navbar__btn{
    display: none;
    position: relative;
}

.navbar__btn > input{
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 0;
}

.navbar__btn > button{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    pointer-events: none;
}

.navbar__btn > input:checked ~ .navbar__links{
    left: 0;
}


/* CONTENIDO */

/* hero */
#hero{
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.733))
    ,url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2015/06/108191-webassembly-pretende-ser-nuevo-estandar-programacion-web.jpg?itok=NvuuYPF-);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.section-hero__title > h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background: none;
    transition: all .3s;
    font-size: 19px;
    border-radius: 3px;
}

.btn:hover{
    border: 1px solid rgb(0, 89, 255);
    color: #fff;
    background: rgb(0, 89, 255);
}

/* about */
.section-about{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title{
    font-size: 20px;
    text-align: center;
}

.section-about__content-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
}

.section-about__content-profile-text{
    width: 50%;
}

.section-about__content-profile-photo > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* projects */
#projects{
    background: rgb(0, 89, 255);
    width: 100%;
}

.section-projects{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    width: 100%;
    flex-wrap: wrap;
}

/* card */
.section-projects__card{
    width: 200px;
    height: 246.547px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
}

.section-projects__card-img{
    width: 100%;
    height: 123.2735px;
    box-shadow: 0 0 10px #808080b2;
    overflow: hidden;
}

.section-projects__card-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.section-projects__card-img > img:hover{
    transform: scale(1.1);
    filter: brightness(.9);
}

.section-projects__card-btns{
    width: 100%;
    height: 123.2735px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section-projects__card-btns > span{
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-top: 5px;
}

.section-projects__card-btns > a{
    width: 100%;
    height: 30px;
    background: rgb(0, 89, 255);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all .3s;
    margin-top: 5px;
}

.section-projects__card-btns > a:hover{
    background: rgb(26, 106, 255);
}

/* contact */

.section-contact{
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-contact__content{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__input{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
    outline: none;
    outline: 1px solid gray;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

textarea{
    resize: vertical;
    font-family: sans-serif;
    height: 200px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    outline: none;
    outline: 1px solid gray;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.form-focus:focus{
    outline: 1.5px solid black;
}

.form__btn{
    width: 50%;
    height: 40px;
    background: rgb(0, 89, 255);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all .3s;
    margin: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/* footer */
#footer{
    width: 100%;
    background: #181818;
}

.footer-container{
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-container__title > p{
    font-weight: bold;
    color: gray;
    margin-bottom: 15px;
}

.footer-container__socials{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    row-gap: 5px;
}

.footer-container__socials > a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.footer-container__socials > a:hover{
    color: #808080ad;
}

.footer-container__socials > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer-container__socials > a > div > i{
    font-size: 20px;
    margin-right: 5px;
}

.footer-container__copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-top: 30px;
    width: 100%;
}


/* MEDIAQUERIES */

@media screen and (max-width: 768px){
    .navbar__links{
        display: none;
    }

    .navbar__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-about__content-profile{
        column-gap: 0px;
    }
    
    .section-about__content-profile-text{
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    
    .section-about__content-profile-photo > img{
        display: none;
    }

    /*  */

    .navbar__links{
        display: flex;
        position: fixed;
        top: 55px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 55px);
        background: rgb(0, 89, 255);
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }

    .nav__ul{
        flex-direction: column;
    }
    
    .nav__li{
        margin: 20px 0;
    }
    
    .nav__link{
        font-size: 18px;
    }
}

@media screen and (max-width: 400px){
    .section-hero__title > h1{
        font-size: 10vw;
    }
}